.container{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
   /* background-color: red; */
    margin: 0 auto;
    padding-top: 100px;
  }
.min_h{
    min-height: 75%;
}
.start{
    justify-content: flex-start;
}
.col{
    flex-direction: column;
    justify-content: flex-start;
}
