.form{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 500px;
    background-color: azure;
    padding: 0.5em;
    justify-content: center;
    align-items: center;
}
.form input {
    width: 90%;
    margin: 0.5em;
    height: 40px;
    border-radius: 0.5em;
    border: none;
    padding: 0.5em;
}
.form input:hover{
    border: solid rgb(8, 135, 167) 0.5px;
}
.form input:butt{
    border: solid rgb(8, 135, 167) 0.5px;
}

.form input::placeholder{
    text-align: center;
}
.form button{
    width: 90%;
    margin: 0.5em;
    height: 40px;
    border-radius: 0.5em;
    background-color: lightgray;
}
.form button:hover{
    background-color: #47bc78;
}
